.contact-form__line {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.contact-form__title {
    font-size: clamp(26px, 2.5vw, 36px);
    font-weight: 700;
    line-height: 110%;
    margin-bottom: 10px;
    color: #fff;
}

.contact-form__text {
    font-size: clamp(12px, 2vw, 16px);
    font-weight: 400;
    line-height: 140%;
    margin-bottom: clamp(10px, 3vw, 15px);
    color: #fff;
}

.contact-form__form {
    position: relative;
}

.contact-form__confirmed {
    position: absolute;
    top: -2px;
    left: -2px;
    width: 102%;
    height: 102%;
    background: #295374;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    visibility: hidden;
}
.contact-form__confirmed.active{
     visibility: visible;
}

.contact-form__confirmed svg {
    width: 60px;
    height: 60px;
    margin-bottom: 10px;
}

.contact-form__success-title {
    font-size: clamp(20px, 2.5vw, 28px);
    font-weight: 700;
    line-height: 140%;
    margin-bottom: 10px;
    color: #fff;
    text-align: center;
}

.contact-form__success-text {
    font-size: clamp(14px, 2.5vw, 18px);
    font-weight: 400;
    line-height: 140%;
    margin-bottom: 10px;
    color: #fff;
}

.contact-form__success-btn {
    padding: 12px 33px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;

}

.contact-form__form-line {
    display: flex;
    margin-bottom: 10px;
}

.contact-form__input-block {
    display: flex;
    flex-direction: column;
}

.contact-form__input-block label {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: clamp(5px, 2vw, 10px);
}

.contact-form__input-block input,
.contact-form__input-block textarea {
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    border: 1px solid #BDD3E4;
    color: #fff;
    background: transparent;
    outline: none;
    width: 100%;
}

.contact-form__input-block input::placeholder,
.contact-form__input-block textarea::placeholder {
    color: #5E778A;
    font-family: 'Poppins', sans-serif;
}

.contact-form__input-name {
    flex: 0 0 40%
}

.contact-form__input-email {
    flex: 0 0 60%;
   padding-left: 10px;
}

.contact-form__input-messege textarea {
    width: 100%;
    resize: none;
    overflow-y: hidden;
    min-height: 150px;
    max-height: 400px;
    margin-bottom: 10px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    margin-right: 10px;
}

/* скрываем стандартный чекбокс */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* бегунок */
.slider-checkbox {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #295374;
    border-radius: 20px;
    transition: 0.3s;
}

/* кружок внутри */
.slider-checkbox::before {
    content: "";
    position: absolute;
    height: 14px;
    width: 14px;
    left: 4px;
    top: 4px;
    background: #FFD7004D;
    border-radius: 50%;
    transition: 0.3s;
}

/* состояние checked */
input:checked+.slider-checkbox {
    background: #295374;
}

input:checked+.slider-checkbox::before {
    transform: translateX(18px);
    background: #FFD700;
}

.terms-text {
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    color: #fff;
}


.conract-form__info-content {
    padding: 30px;
    border-radius: 17px;
    border: 1px solid #57626C;
    background: #092236;
}

.contact-form__info-title {
    display: block;
    font-size: clamp(18px, 2.5vw, 22px);
    font-weight: 500;
    line-height: 140%;
    margin-bottom: 15px;
    color: #fff;
}

.contact-form__info-line {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 10px;
}

.contact-form__info-line span {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 400;
    line-height: 140%;
    color: #fff;
}

.contact-form__info-line svg {
    width: 20px;
    height: 20px;
    flex: 0 0 auto;
    display: inline-block;
}

.contact-form__info-btn {
    margin-top: 20px;
    display: flex;
    background: #295374;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
}

.contact-form__info-btn span {
    font-size: clamp(14px, 2vw, 16px);
    font-weight: 500;
    line-height: 150%;
    color: #fff;
}

.contact-form__info-btn svg {
    width: 15px;
    height: 15px;
    flex: 0 0 auto;
    display: inline-block;
}

.contact-form__checkBocks {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.contact-form__btn {
    padding: 6px 60px;
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    color: #000000;
    background: #FFD700;
    border-radius: 10px;
    margin: 0 auto;
}

@media(max-width: 650px) {
    .contact-form__line {
        flex-direction: column;
    }

    .contact-form__form-line {
        flex-direction: column;
    }

    .contact-form__input-name,
    .contact-form__input-email {
        flex: 0 0 100%;
        padding-left: 0;
        margin-bottom: 10px;
    }

    .contact-form__text {
        width: 210px;
    }

}