.best-casinos {
    padding: clamp(40px, 5vw, 60px) 0 clamp(20px, 5vw, 60px) 0;
}

.best-casinos__title {
    font-size: clamp(26px, 2.5vw, 36px);
    line-height: 140%;
    font-weight: 700;
    color: #fff;
    margin-bottom: clamp(20px, 1vw, 30px);
}
.best-casinos__btn-best{
    flex-direction: column;
    gap:0px !important;
}
.best-casinos__btn-content{
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fff;
    width: 100%;
}
.best-casinos__links-payment{
    flex-direction: column;
    width: 100%;
    visibility: hidden;
    height: 0px;
    display: flex;

}
.best-casinos__links-payment.open{
    visibility: visible;
    height: 100%;
    padding-top: clamp(10px, 1vw, 20px);
}
.best-casinos__link-payment{
    padding:clamp(4px , 0.5vw, 7px) 0;
    font-size: clamp(14px,1vw,18px);
    line-height: 140%;
    font-weight: 500;
    color: #fff;
    text-align: left;
}
.best-casinos__link-payment.active,
.best-casinos__btn.active{
    color: #FFD700;
}

.best-casinos__block {
    display: flex;
    justify-content: space-between;
}

.best-casinos__btns {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex: 1 0 20%;
}

.best-casinos__btn,
.best-casinos__btn-best {
    padding: 12px 20px;
    border-radius: 12px;
    border: 1px solid #B5BFC7;
    display: flex;
    align-items: center;
    gap: 10px;
    background: #10324C;
    color: #fff;
    cursor: pointer;
}

.best-casinos__btn svg,
.best-casinos__btn-best svg{
    max-width: 50px;
    max-height: 50px;
}

.best-casinos__btn span,
.best-casinos__btn-best span {
    font-size: clamp(14px, 1.5vw, 18px);
    line-height: 120%;
    font-weight: 600;
    width: 100%;
    text-align: left;
}

.best-casinos__list {
    flex: 1 1 80%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.best-casinos__item {
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #57626C;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background: #10324C;
}

.best-casinos__left {
    display: flex;
    align-items: center;
    gap: clamp(5px,1.2vw,30px);
}

.best-casinos__img {
    max-width: 100px;
    max-height: 100px;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 15px;
}

.best-casinos__main-info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.best-casinos__title-item {
    font-size: clamp(16px, 1.5vw, 24px);
    line-height: 140%;
    font-weight: 600;
    color: #fff;
}
.best-casinos__rating-item{
    display: flex;
    align-items: center;
}
.best-casinos__rating-item svg{
    width: 20px;
    height: 20px;
}
.best-casinos__reting-num{
    line-height: 140%;
    padding-left: 5px;
    font-weight: 600;
    display: flex;
    align-items: baseline;
    gap: 3px;
    color: #fff;
}
.rating__current{
    font-size: clamp(14px, 1vw, 18px);
}
.rating__divider{
    font-size: clamp(10px, 1vw, 12px);
}
.rating__total{
    font-size: 10px;
}
.best-casinos__text-item{
    padding: 8px 12px;
    padding: clamp(4px,0.5vw,8px) clamp(4px,0.5vw,12px);
    border-radius: 12px;
    border: 1px solid #57626C;
    font-size: clamp(12px, 1.2vw, 16px);
    line-height: 140%;
    font-weight: 500;
    color: #fff;
    background: #2F5776;
    max-width: 400px;
    margin: 0 auto;
}
.best-casinos__links{
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-direction: column;
}
.best-casinos__link{
    border-radius: 10px;
    border: 1px solid #57626C;
    padding: clamp(4px, 0.5vw, 12px) clamp(5px, 1vw, 30px);
    font-size: clamp(12px, 1vw, 16px);
    line-height: 140%;
    font-weight: 500;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    transition: all 0.3s ease;
    

}
.best-casinos__link-review{
    background: #00192B;
    color: #fff;
}
.best-casinos__link-review:hover{
    background: #01668e;
}
.best-casinos__link-now{
    background: #FFD700;
    color: #000;
}
.best-casinos__link-now:hover{
    background: #dfad08;
   
}
.element__provider-focus .img__provider-focus{
    max-width: 110px;
    max-height: 110px;

}
.img__provider-focus img{
    max-width: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
}
.best-casinos__item-mob{
    display: flex;
    padding: 15px;
    align-items: center;
    border-radius: 12px;
    border: 1px solid #57626C;
    gap: 10px;
    width: 100%;
    background: #1D3A50;
}
.best-casinos__img-mob{
    width: 82px;
    height: 82px;
    border-radius: 12px;
}
.best-casinos__rating-mob{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.best-casinos__line-mob{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    margin-bottom: 5px;
}
.best-casinos__rating-mob svg{
   width: 16px;
   height: 16px;
}
.best-casinos__info-mob{
    width: 100%;
}
.best-casinos__title-mob{
   font-size: 16px;
   line-height: 140%;
   font-weight: 600;
   color: #fff;
}
.best-casinos__text-num{
    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
    margin: 0 auto;
    margin-bottom: 7px;
}
.best-casinos__btn-mob{
    font-size: 14px;
    line-height: 150%;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 10px;
    flex: 1 1 50%;
    text-align: center;
}
.best-casinos__btns-mob{
     display: flex;
     gap: 10px;


}
.best-casinos__review-mob{
    background: #00192B;

    color: #fff;
}
.best-casinos__play-mob{
    background: #FFD700;
    color: #280F23;
}

@media (max-width: 1100px) {
    .best-casinos__text-item {
        max-width: 200px;
        width: 100%;
        margin: 0 auto;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .best-casinos__img{
        width: 70px;
        height: 70px;
    }
    .best-casinos__list{
        padding-left: 10px;
    }
    .best-casinos__item{
        padding: 10px;
    }
    .best-casinos__rating-item svg {
        width: 15px;
        height: 15px;
    }
    .best-casinos__reting-num{
        padding-left:3px;
        gap:1.5px;
    }
    .best-casinos__main-info{
        gap: 0px;
    }
    
}
@media (max-width: 750px) {
    .best-casinos__text-item{
        width: 150px;
    }
    .best-casinos__img{
        width: 60px;
        height: 60px;
    }
}


@media (max-width: 700px) {
    .best-casinos__block{
        flex-direction: column;
        gap:20px;
    }
    .best-casinos__list{
        padding: 0;
    
    }
    .best-casinos__text-item{
       width: 100%;
    }
}
@media (max-width: 500px) {
    .best-casinos__btn svg,
    .best-casinos__btn-best svg{
        width: 30px;
        height: 30px;
    }
    .best-casinos__title {
        text-align: center;
    }
    .best-casinos__reting-num {
       line-height: 50%;
    }
    .best-casinos__text-num{
        text-transform: uppercase;
    }
}
@media (max-width: 400px) {
    .best-casinos__rating-mob svg{
        width: 12px;
        height: 12px;
    }
    .best-casinos__title-mob{
        font-size: 15px;
    }

}
