body {
	font-family: 'Poppins', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight: 500;
	font-style: normal;
	font-size: 26px;
	color: #ffffff;
	width: 100%;
	height: 100%;
	position: relative;
	background-color: #00192b;
	letter-spacing: 0;
}
span,
div,
ul,
li,
p,
a,
strong,
h1,
h2,
h3,
h4,
h5,
h6,
button {
	font-family: 'Poppins', sans-serif;
}
.section {
	padding: 30px 0px;
}

.container {
	position: relative;
	max-width: 1500px;
	padding: 0 15px;
	margin: 0 auto;
}
.container-none {
	padding: 0;
}
.header {
	background-color: #193347;
}
.header__wrapper {
	display: flex;
	justify-content: space-between;
	padding: 16px;
}
.header__list {
	display: flex;
	align-items: center;
	gap: 20px;
	height: 100%;
	text-transform: uppercase;
}
.header__item {
	padding: 5px;
	font-weight: 600;
	font-size: 16px;
}
.header__item.active {
	color: #ffd700;
}
.header__btn {
	display: flex;
	align-items: center;
	gap: 10px;
	font-weight: 600;
	font-size: 16px;
	color: #ffd700;
	background: linear-gradient(90deg, #00223b 1.44%, #0d6eb9 100%);
	padding: 5px 15px;
	border-radius: 12px;
	box-shadow: 0px 0px 18px 0px #ffc700d9;
}
.main {
	background: url('../img/bg.jpg') center center no-repeat;
	background-size: cover;
}
.main__wrapper {
	height: 570px;
	display: flex;
	align-items: center;
}

.main__content {
	padding-left: 40px;
}
.main__title {
	font-weight: 700;
	font-size: clamp(26px, 5vw, 40px);
	line-height: 140%;
	margin-bottom: 15px;
	max-width: 620px;
	color: #fff;
}
.main__title span {
	color: #ffd700;
}
.main__text {
	font-weight: 500;
	font-size: 16px;
	line-height: 140%;
	margin-bottom: 20px;
	max-width: 585px;
	margin-bottom: 25px;
	color: #fff;
}
.main__text span {
	font-weight: 700;
}

.main__btn {
	color: #000;
	padding: 7px 15px;
	border-radius: 12px;
	font-weight: 600;
	line-height: 140%;
	font-size: 16px;
	background-color: #ffd700;
}

/* block category */

.category__title {
	text-align: center;
	font-weight: 700;
	font-size: clamp(20px, 5vw, 36px);
	line-height: 140%;
	margin-bottom: 15px;
	color: #fff;
}
.category__text {
	text-align: center;
	font-weight: 500;
	font-size: clamp(14px, 5vw, 16px);
	line-height: 140%;
	max-width: 620px;
	margin: 0 auto;
	margin-bottom: 35px;
	color: #fff;
}
.category__block {
	display: flex;
	gap: 50px;
	justify-content: space-between;
}
.category__btn-block {
	flex: 0 1 22%;
	display: flex;
	flex-direction: column;
	gap: 10px;
}
.category__btn {
	padding: 10px 15px;
	display: flex;
	align-items: center;
	gap: 20px;
	background: #10324c;
	border-radius: 12px;
	border: 1px solid #57626c;
}
.category__btn.active {
	background: #295374;
}
.category__btn svg {
	width: 50px;
	height: 50px;
}
.category__btn span {
	font-weight: 500;
	font-size: clamp(16px, 5vw, 22px);
	line-height: 140%;
	color: #fff;
}
.category__partners-block {
	flex: 0 1 78%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 20px;
	width: 100%;
}
.category__item-block {
	display: flex;
	gap: 20px;
	padding: 30px;
	background: #10324c;
	border-radius: 17px;
	border: 1px solid #57626c;
	height: fit-content;
	transition: all 0.4s ease;
}

.category__item-block.hide {
	opacity: 0;
	transform: translateY(20px);
}
.category__info-item {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	gap: 10px;
}

.category__title-item {
	font-family: 600;
	font-size: clamp(16px, 5vw, 24px);
	line-height: 140%;
	color: #fff;
}

.category__text-item {
	font-weight: 400;
	font-size: clamp(14px, 5vw, 16px);
	line-height: 140%;
	color: #fff;
	text-transform: uppercase;
}
.category__btns-item {
	display: flex;
	gap: 5px;
}
.category__btn-review,
.category__btn-play {
	border-radius: 10px;
	font-size: 14px;
	font-weight: 500;
	line-height: 140%;
	padding: 7px 23px;
}
.category__btn-review {
	background: #00192b;
	color: #fff;
}
.category__btn-play {
	background: #ffc700;
	color: #000;
}

/*providers*/
.providers {
	background: #113047;
	padding: 20px 0;
}
.provider__wrapper {
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.footer {
	background: #011320;
}

.footer__main {
	padding: 30px 0;
	display: flex;
	justify-content: space-between;
}

.footer__text {
	padding-top: 15px;
	font-weight: 400;
	font-size: 12px;
	line-height: 140%;
	color: #405b6f;
	width: 410px;
}
.footer__text a {
	color: #ffd700;
}
.footer__title {
	font-size: 16px;
	font-weight: 600;
	line-height: 140%;
	color: #fff;
	margin-bottom: 20px;
}
.footer__li a {
	padding: 5px 0;
	font-size: 14px;
	font-weight: 400;
	line-height: 140%;
	color: #fff;
}
.footer__title-form {
	font-weight: 600;
	font-size: clamp(18px, 5vw, 20px);
	line-height: 140%;
	color: #ffd700;
	margin-bottom: 20px;
}
.footer__line-form {
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	gap: 20px;
}
.footer__item-form {
	display: flex;
	align-items: center;
	gap: 10px;
}
.footer__item-form span {
	font-weight: 400;
	font-size: 14px;
	color: #fff;
	line-height: 140%;
}
.footer__bottom {
	border-top: 1px solid #57626c;
	padding: 10px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 150px;
}

.ml-form-embedWrapper .ml-form-embedBody {
	padding: 0px !important;
}
#mlb2-30764281.ml-form-embedContainer .ml-form-align-center {
	text-align: left !important;
}
.ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input {
	background: transparent !important;
	border-radius: 8px !important;
	color: #5e778a !important;
	/* border: 1px solid #57626c !important;
	
	color: #ffffff !important;
	font-size: 14px !important;
	padding: 10px !important;
	height: auto !important; */
}
.ml-form-embedWrapper
	.ml-form-embedBody
	.ml-form-horizontalRow
	input::placeholder {
	color: #5e778a !important;
	opacity: 1 !important;
}
.ml-form-embedWrapper .ml-form-embedBody .ml-form-horizontalRow input:focus {
	border: 1px solid #ffd700 !important;
	outline: none !important;
}

/*text-block*/
.text-block {
	padding: 30px 0;
}
.wrapper__text-block {
	background: #08263c;
	border-radius: 20px;
	border: 1px solid #57626c;
	padding: 30px;
}

.title__text-block, .main-title__text-block {
	font-size: clamp(22px, 5vw, 36px);
	font-weight: 700;
	line-height: 140%;
	color: #ffffff;
	margin-bottom: 10px;
}

.text__text-block,
.main-text__text-block,
.bottom-text__text-block {
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
	line-height: 150%;
	color: #ffffff;
	margin-bottom: 10px;

}

.main-title__text-block{
	text-align: center;
}
.main-text__text-block{
 max-width: 750px;
 margin: 0 auto;
 text-align: center;
 padding-bottom: 30px;
}
.bottom-text__text-block{
 max-width: 895px;
 margin: 0 auto;
 text-align: center;
 padding-top: 30px;
}
.list-num__text-block {
	margin-bottom: 10px;
	list-style-type: decimal;
	padding-left: 20px;
}
.list-dot__text-block {
	list-style-type: disc;
	padding-left: 20px;
	margin-bottom: 10px;
}
.list-num__text-block .item__text-block::marker {
	font-weight: bold;
}
.item__text-block {
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
	line-height: 140%;
	color: #ffffff;
	margin-bottom: 10px;
	padding-left: 5px;
}
.last-text-block{
	margin-bottom: 20px;
}
.item__text-block + .item__text-block {
	padding-top: 10px;
}
.last__element-text-block {
	margin-bottom: 20px;
}
.block-mark__text-block {
	display: flex;
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
	line-height: 140%;
	color: #ffffff;
	margin-bottom: 10px;
}

.block-mark__text-block img {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.wrapper-blue-text-block{
	background: #295374;
	border: none;
}
.why-demo {
	padding: 30px 0;
}
.title__why-demo,
.title__real-money {
	font-size: clamp(22px, 5vw, 34px);
	font-weight: 700;
	line-height: 140%;
	margin-bottom: 10px;
	color: #fff;
	text-align: center;
}
.text__why-demo,
.text__real-money {
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
	line-height: 140%;
	width: 900px;
	margin: 0 auto;
	text-align: center;
	color: #fff;
}
.btn__why-demo {
	padding-top: 10px;
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
	line-height: 140%;
	display: block;
	text-align: center;
	text-decoration: underline;
	color: #fff;
}
.line__why-demo {
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 20px;
}
.item-line__why-demo {
	padding: 20px;
	text-align: center;
	border-radius: 17px;
	background: #295374;
	border: 1px solid #b5bfc7;
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
	line-height: 140%;
	color: #fff;
}
.real-money {
	padding: 30px 0;
}
.block__real-money {
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, auto);
	column-gap: 20px;
	row-gap: 10px;
}
.item__real-money {
	padding: 20px 30px;
	border-radius: 17px;
	border: 1px solid #8899a5;
}
.head-item__real-money {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 10px;
}
.title-item__real-money {
	font-size: clamp(20px, 5vw, 26px);
	font-weight: 700;
	line-height: 140%;
	color: #fff;
}
.text-item__real-money {
	font-size: clamp(14px, 5vw, 16px);
	font-weight: 400;
	line-height: 150%;
	color: #fff;
}
/*bonuses*/
.bonuses {
	padding: 30px 0;
}
.bonuses__title {
	font-size: clamp(22px, 5vw, 34px);
	line-height: 140%;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
}
.bonuses__text {
	font-size: clamp(14px, 5vw, 16px);
	line-height: 140%;
	font-weight: 400;
	color: #fff;
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}
.bonuses__link {
	font-size: clamp(14px, 5vw, 16px);
	line-height: 140%;
	font-weight: 400;
	color: #fff;
	display: block;
	text-align: center;
	text-decoration: underline;
}
.bonuses__items {
	padding-top: 30px;
	display: grid;
	grid-template-columns: repeat(3, 1fr); /* 2 элемента в ряд */
	grid-template-rows: repeat(2, auto); /* 3 ряда */
	gap: 20px; /* расстояние между элементами */
}
.bonuses__item {
	padding: 20px 20px 30px 20px;
	background: #295374;
	border-radius: 17px;
	border: 1px solid #b5bfc7;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}
.bonuses__item svg {
	margin-bottom: 10px;
}
.bonuses__item-title {
	font-size: clamp(18px, 5vw, 22px);
	line-height: 140%;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
}
.bonuses__item-text {
	font-size: clamp(14px, 5vw, 16px);
	line-height: 150%;
	font-weight: 500;
	max-width: 400px;
	margin: 0 auto;
	color: #fff;
}
.provider-focus {
	padding: 30px 0px;
}
.title__provider-focus {
	font-size: clamp(22px, 5vw, 34px);
	line-height: 140%;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
	text-align: center;
	width: 700px;
	margin: 0 auto;
}
.text__provider-focus {
	font-size: clamp(14px, 5vw, 16px);
	line-height: 140%;
	font-weight: 400;
	color: #fff;
	max-width: 900px;
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
}
.block__provider-focus{
	padding: 30px 0;
}
.element__provider-focus{
	padding: 20px;
	background: #295374;
	border: 1px solid #57626C;
	border-radius: 17px;
	margin-bottom: 20px;
	display: flex;
	gap: 20px;
}
.title-element__provider-focus{
	font-size: clamp(18px, 5vw, 26px);
	line-height: 140%;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
}
.text-element__provider-focus{
	font-size: clamp(14px, 5vw, 16px);
	line-height: 150%;
	font-weight: 400;
	color: #fff;
}
.why__provider-focus{
	padding: 20px;
	border-radius: 20px;
	border: 1px solid #57626C;
}
.title-why__provider-focus {
	font-size: clamp(22px, 5vw, 30px);
	line-height: 140%;
	font-weight: 700;
	color: #fff;
	margin-bottom: 10px;
}
.text-why__provider-focus {
	font-size: clamp(14px, 5vw, 16px);
	line-height: 140%;
	font-weight: 400;
	color: #fff;
	margin-bottom: 10px;
}
/*practical*/
.practical {
	padding: 30px 0;
}
.practical__title{
 font-size: clamp(22px, 5vw, 34px);
 font-weight: 700;
 line-height: 140%;
 color: #fff;
 margin-bottom: 10px;
 text-align: center;
}
.practical__text{
	font-size: clamp(14px,5vw,16px);
	font-weight: 400;
	line-height: 150%;
	color: #fff;
	margin-bottom:10px;
	text-align: center;
}
.practical__element{
	padding: 10px;
	border: 1px solid #57626C;
	border-radius: 17px;
	display: flex;
	align-items: center;
	gap: 10px;
}
.practical__element + .practical__element{
	margin-top: 10px;
}
.practical__element-text{
	font-size: clamp(14px,5vw,16px);
	font-weight: 400;
	line-height: 150%;
	color: #fff;
}
